<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="trimble.convertToRinex.convertToRinex" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
   <section name="trimble.convertToRinex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
   <section name="convertToRinex.convertToRinex" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<userSettings>
		<trimble.convertToRinex.convertToRinex>
   <setting name="Observer" serializeAs="String">
    <value>Observer Name</value>
   </setting>
   <setting name="Agency" serializeAs="String">
    <value>Trimble</value>
   </setting>
   <setting name="TimeZone" serializeAs="String">
    <value>UTC</value>
   </setting>
   <setting name="TimeOffset" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LogL1Doppler" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AntennaInMotion" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TruncateMarkerNames" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SuppressMarkerNumberRecs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SuppressKinematicRecs" serializeAs="String">
     <value>False</value>
   </setting>      
   <setting name="AdjustObsAndClks" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RunBy" serializeAs="String">
    <value>CTR Operator</value>
   </setting>
   <setting name="LogSNR" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OutFileVersion" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="LogClockOffset" serializeAs="String">
    <value>False</value>
   </setting>
  </trimble.convertToRinex.convertToRinex>
  <trimble.convertToRinex.Properties.Settings>
   <setting name="RunBy" serializeAs="String">
    <value>convertToRINEX OPR</value>
   </setting>
   <setting name="Observer" serializeAs="String">
    <value>GNSS Observer</value>
   </setting>
   <setting name="Agency" serializeAs="String">
    <value>Trimble</value>
   </setting>
   <setting name="InputFolder" serializeAs="String">
    <value>.</value>
   </setting>
   <setting name="InputFile" serializeAs="String">
    <value>input.dat</value>
   </setting>
   <setting name="OutputFolder" serializeAs="String">
    <value>.</value>
   </setting>
   <setting name="LogDoppler" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AntennaInMotion" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TruncateMarkerNames" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SuppressMarkerNumberRecs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SuppressKinematicRecs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LogContinuousClock" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OutputFileExt" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OutputFileVersion" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="AntennaCorrection" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MetFileGeneration" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LogSNR" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LogClockOffset" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LogOnlyGPS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OutputFolderIsGlobal" serializeAs="String">
    <value>False</value>
   </setting>
  </trimble.convertToRinex.Properties.Settings>
  <convertToRinex.convertToRinex>
		</convertToRinex.convertToRinex>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
